<a href="https://colab.research.google.com/github/sohdacafe/Machine_Learning/blob/main/kaggle_House_Prices_Advanced_Regression_Techniques_vol2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [166]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_sub = pd.read_csv('sample_submission.csv')
df_train.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [167]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [169]:
columns = df_train.columns
columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [170]:
# 相関性の低いカラムを削除,objectのカラムは残す。
drop_col = []
columns = df_train.columns
for column in columns:
    if df_train[column].dtypes == object :
        continue
    else:
        corr_v = df_train.corr()[column]['SalePrice']
        print(column, corr_v)
        if corr_v < 0.5 and corr_v > -0.5:
            df_train = df_train.drop(column, axis=1)
            drop_col.append(column)
print(drop_col)

Id -0.021916719443431112
MSSubClass -0.08428413512659523
LotFrontage 0.35179909657067854
LotArea 0.2638433538714063
OverallQual 0.7909816005838047
OverallCond -0.0778558940486776
YearBuilt 0.5228973328794967
YearRemodAdd 0.5071009671113867
MasVnrArea 0.4774930470957107
BsmtFinSF1 0.38641980624215627
BsmtFinSF2 -0.011378121450215216
BsmtUnfSF 0.214479105546969
TotalBsmtSF 0.6135805515591944
1stFlrSF 0.6058521846919166
2ndFlrSF 0.31933380283206614
LowQualFinSF -0.02560613000068015
GrLivArea 0.7086244776126511
BsmtFullBath 0.22712223313149718
BsmtHalfBath -0.016844154297359294
FullBath 0.5606637627484452
HalfBath 0.2841076755947784
BedroomAbvGr 0.1682131543007415
KitchenAbvGr -0.1359073708421417
TotRmsAbvGrd 0.5337231555820238
Fireplaces 0.4669288367515242
GarageYrBlt 0.48636167748786213
GarageCars 0.640409197258349
GarageArea 0.6234314389183598
WoodDeckSF 0.32441344456813076
OpenPorchSF 0.31585622711605577
EnclosedPorch -0.12857795792595636
3SsnPorch 0.04458366533574792
ScreenPorch 0.11144657114291048
PoolArea 0.09240354949187278
MiscVal -0.02118957964030379
MoSold 0.04643224522381936
YrSold -0.028922585168730426
SalePrice 1.0
['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallCond', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', '2ndFlrSF', 'LowQualFinSF', 'BsmtFullBath', 'BsmtHalfBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'Fireplaces', 'GarageYrBlt', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']

In [171]:
df_train.head()

  MSZoning Street Alley LotShape  ... MiscFeature SaleType SaleCondition SalePrice
0       RL   Pave   NaN      Reg  ...         NaN       WD        Normal    208500
1       RL   Pave   NaN      Reg  ...         NaN       WD        Normal    181500
2       RL   Pave   NaN      IR1  ...         NaN       WD        Normal    223500
3       RL   Pave   NaN      IR1  ...         NaN       WD       Abnorml    140000
4       RL   Pave   NaN      IR1  ...         NaN       WD        Normal    250000

[5 rows x 54 columns]

In [172]:
# 各カラムのカテゴリ変数数をカウント
columns = df_train.columns
for column in columns:
    print(column, df_train[column].nunique())

MSZoning 5
Street 2
Alley 2
LotShape 4
LandContour 4
Utilities 2
LotConfig 5
LandSlope 3
Neighborhood 25
Condition1 9
Condition2 8
BldgType 5
HouseStyle 8
OverallQual 10
YearBuilt 112
YearRemodAdd 61
RoofStyle 6
RoofMatl 8
Exterior1st 15
Exterior2nd 16
MasVnrType 4
ExterQual 4
ExterCond 5
Foundation 6
BsmtQual 4
BsmtCond 4
BsmtExposure 4
BsmtFinType1 6
BsmtFinType2 6
TotalBsmtSF 721
Heating 6
HeatingQC 5
CentralAir 2
Electrical 5
1stFlrSF 753
GrLivArea 861
FullBath 4
KitchenQual 4
TotRmsAbvGrd 12
Functional 7
FireplaceQu 5
GarageType 6
GarageFinish 3
GarageCars 5
GarageArea 441
GarageQual 5
GarageCond 5
PavedDrive 3
PoolQC 3
Fence 4
MiscFeature 4
SaleType 9
SaleCondition 6
SalePrice 663

In [174]:
df_train.groupby('LandSlope')['SalePrice'].mean()

LandSlope
Gtl    179956.799566
Mod    196734.138462
Sev    204379.230769
Name: SalePrice, dtype: float64

In [175]:
# 各カテゴリ変数別の平均値の最大/最小値の差を確認、
# 差が小さいものは相関の無いカテゴリ変数としてはじく。
columns = df_train.columns
for column in columns:
    max_v = df_train.groupby(column)['SalePrice'].mean().max()
    min_v = df_train.groupby(column)['SalePrice'].mean().min()
    ratio_v = max_v/min_v
    if ratio_v < 1.5:
        df_train = df_train.drop(column, axis=1)
        print(column, ratio_v)

Street 1.391273084552582
Alley 1.374585583248161
LotShape 1.4556986448970108
Utilities 1.3160069586890148
LotConfig 1.2651581734290243
LandSlope 1.1357127447382056
BldgType 1.4463952450616677
BsmtFinType2 1.389415723675938
Fence 1.332432071149379

In [176]:
# 欠損値の補完
df_train = df_train.fillna(df_train.mean())
# 欠損値の多いカラムは削除し、欠損値を削除
columns = df_train.columns
for column in columns:
    lack_cont = df_train[column].isnull().sum()
    if lack_cont > 50:
        df_train = df_train.drop(column, axis=1)
df_train = df_train.dropna()

In [182]:
# 'SalePrice'の平均値に応じて、カテゴリごとのポイント付け
columns = df_train.columns
for column in columns:
    df_train.groupby(column)['SalePrice'].mean()
    uniques = df_train[column].unique()
    for unique in uniques:
        unique_v = df_train.groupby(column)['SalePrice'].mean()[unique]
        df_train[column].replace(unique, unique_v, inplace=True)
        # 値をinplace=Trueで置き換え

In [183]:
df_train

           MSZoning    LandContour  ...  SaleCondition  SalePrice
0     193131.356115  181720.727918  ...  177005.540517     208500
1     193131.356115  181720.727918  ...  177005.540517     181500
2     193131.356115  181720.727918  ...  177005.540517     223500
3     193131.356115  181720.727918  ...  147142.890000     140000
4     193131.356115  181720.727918  ...  177005.540517     250000
...             ...            ...  ...            ...        ...
1455  193131.356115  181720.727918  ...  177005.540517     175000
1456  193131.356115  181720.727918  ...  177005.540517     210000
1457  193131.356115  181720.727918  ...  177005.540517     266500
1458  193131.356115  181720.727918  ...  177005.540517     142125
1459  193131.356115  181720.727918  ...  177005.540517     147500

[1413 rows x 38 columns]

In [ ]:
# 線形回帰

In [184]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [186]:
t = df_train['SalePrice'].values
X = df_train.drop(labels=['SalePrice'], axis=1)
X_train, X_test,t_train, t_test = train_test_split(X, t, test_size=0.3, random_state=0)

In [187]:
LR_model = LinearRegression()
LR_model.fit(X_train, t_train)

LinearRegression()

In [188]:
print(f'train score:{LR_model.score(X_train, t_train)}')
print(f'test score:{LR_model.score(X_test, t_test)}')

train score:0.9597916684860137
test score:0.9492394329035468

In [ ]:
# submit

In [189]:
df_train.columns

Index(['MSZoning', 'LandContour', 'Neighborhood', 'Condition1', 'Condition2',
       'HouseStyle', 'OverallQual', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual',
       'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir',
       'Electrical', '1stFlrSF', 'GrLivArea', 'FullBath', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'GarageCars', 'GarageArea', 'PavedDrive',
       'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [190]:
df_test = df_test[['MSZoning', 'LandContour', 'Neighborhood', 'Condition1', 'Condition2',
       'HouseStyle', 'OverallQual', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual',
       'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir',
       'Electrical', '1stFlrSF', 'GrLivArea', 'FullBath', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'GarageCars', 'GarageArea', 'PavedDrive',
       'SaleType', 'SaleCondition']]

In [191]:
df_test = df_test.fillna(df_train.mean())

In [192]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSZoning       1459 non-null   object
 1   LandContour    1459 non-null   object
 2   Neighborhood   1459 non-null   object
 3   Condition1     1459 non-null   object
 4   Condition2     1459 non-null   object
 5   HouseStyle     1459 non-null   object
 6   OverallQual    1459 non-null   int64
 7   YearBuilt      1459 non-null   int64
 8   YearRemodAdd   1459 non-null   int64
 9   RoofStyle      1459 non-null   object
 10  RoofMatl       1459 non-null   object
 11  Exterior1st    1459 non-null   object
 12  Exterior2nd    1459 non-null   object
 13  MasVnrType     1459 non-null   object
 14  ExterQual      1459 non-null   object
 15  ExterCond      1459 non-null   object
 16  Foundation     1459 non-null   object
 17  BsmtQual       1459 non-null   object
 18  BsmtCond       1459 non-null   object
 19  BsmtExposure   1459 non-null   object
 20  BsmtFinType1   1459 non-null   object
 21  TotalBsmtSF    1459 non-null   float64
 22  Heating        1459 non-null   object
 23  HeatingQC      1459 non-null   object
 24  CentralAir     1459 non-null   object
 25  Electrical     1459 non-null   object
 26  1stFlrSF       1459 non-null   int64
 27  GrLivArea      1459 non-null   int64
 28  FullBath       1459 non-null   int64
 29  KitchenQual    1459 non-null   object
 30  TotRmsAbvGrd   1459 non-null   int64
 31  Functional     1459 non-null   object
 32  GarageCars     1459 non-null   float64
 33  GarageArea     1459 non-null   float64
 34  PavedDrive     1459 non-null   object
 35  SaleType       1459 non-null   object
 36  SaleCondition  1459 non-null   object
dtypes: float64(3), int64(7), object(27)
memory usage: 421.9+ KB

In [194]:
# 'SalePrice'の平均値に応じて、カテゴリごとのポイント付け
columns = df_test.columns
for column in columns:
    uniques = df_test[column].unique()
    for unique in uniques:
        df_test[column].replace(unique, unique_v, inplace=True)
        # 値をinplace=Trueで置き換え
pred = LR_model.predict(df_test)

In [195]:
# 予測値入力、提出ファイル出力
df_gen = pd.read_csv('sample_submission.csv')
df_gen['SalePrice'] =pred
df_gen.to_csv('sample_submission_3.csv', index=False)